# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.vscode
Homework_3/camera_calib_data/calib_v0.*/left*
Homework_3/camera_calib_data/calib_v0.*/calibrationdata.tar.gz
Homework_3/data/original/alexo.jpg
Homework_3/data/original/bender.jpg
